body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/background.jpg);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-size-adjust: none;
}

h1 {
    font-size: 80px;
}

span {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px 30px;
    display: inline-block;
}


p {
    font-size: 20px;
}

button {
    background-color: #31a9be; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

#button {
  background-color: #31a9be; /* Green */
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}


#secret {
  display: none;
}

#dogButton {
  display: none;
}

#getQuote {
  display: none;
}

#chosenQuote {
  background-color: #31a9be;
  font-size: 25px;
}

#dogs {
  margin: 25px;
}

#image {
  max-width: 400px;
  max-height: 400px;
  display: inline-block;
}


